body{
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
html,body{
overflow-x: hidden;
}
a {
    text-decoration: none;
}

.h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
    }
.title-h2 span{
    display: block;
    font-size: 16px;
    font-weight: 800 ;
    color: #1085e4;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.title-40{
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;
    font-size: 40px;
    letter-spacing: -1.1px;
    }
.title-40 span{
    display: block;
    font-weight: 800 ;
    color: #1085e4;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.bth-menu{
    border:none;    
    display: none;
    background-color: transparent;
}

.bth-menu svg{
    width: 35px;
    height: 35px;
    fill: #192b59;

}
.bth-menu :focus{
    outline: none;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    max-width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px 15px 45px 15px;
    box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px;
}
.nav-modal>li{
    margin-bottom: 12px;

}
.nav-modal>li:last-child{
    margin-top: 35px;
}
.bth-close{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 21px;
    font-size: 35px;
    top: 15px;
    color: #6e7ea9;
    opacity: 0.2;
    transition: 0.3s;
}
.bth-close:hover{
    opacity: 1;
}
.bth-close:focus{
   outline: none;
}
.page-stat .title-h2, .page-screen .title-h2{
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2 {
    max-width: 500px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 305px;
    
}
.logo {
    display: block;
    width: 189px;
    height: 56px;
    background-image: url(../img/logo.png);
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-modal{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav> li {
    padding: 0 20px;
}
.nav> li:last-child{
    padding-right: 0;
}
    
.nav-item {
        color: #6e7ea9;
        letter-spacing: 2px;
}

.bth-primary{
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2,5px;
    transition: 0.3s;
    text-align: center;
}
.bth-primary:hover {
    color:#1085e4;
    background-color:transparent;
}
.bth-secondary{
    color:#7e8bae;
    background-color:#cbdbe8;
    border: 1px solid #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2,5px;
    text-align: center;
    
}
.bth-secondary:hover {
    background-color:#fff;
}
.bth-free {
    color: #fff;
    font-weight: 400;
    padding: 20px 56px;
    letter-spacing: 1,7px;
}
.bth-group a + a{
    margin-left: 0px;
}
.bth-info{
    color: #8085b1;
    letter-spacing: 2,5px;
    font-size: 12px;
    font-weight: 700;
    padding: 19px 61px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 1px solid #dce1e5 ; 
}
.bth-info:hover{
    color: #fff;
    background-color:  #4c5f6f;
    border: 1px solid #fff;
}
.grid{
    display: grid;
    grid-template-areas: "a b c"
                        "d b c"
                        "d f g"
                        "e f g"
                        "e h h";
    max-width: 1110px;
    margin: 70px auto;   
    gap: 50px;  
    justify-content: center; 
    padding-left: 15px;
    padding-right: 15px;         
}

.grid-title{
    grid-area: a;
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-text{
    grid-area: h;
    padding: 0 14px;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}
.grid-item a {
    color:#1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-item{
    text-align: center;
    box-shadow: 0 5px 6px #f4f5f5;  
    border-radius: 10px;
    padding: 54px 29px 59px;
}
.grid-item-name {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;}
    
.grid-item-name span {
        font-size: 16px;
        font-weight: 700;
        color: #192b59;}

.grid-icon  {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
}
.grid-icon-1 {
    background-image: url(../img/icon-1.png);
    width: 102px;
    height: 96px;
}
.grid-icon-2 {
    background-image: url(../img/icon-2.png);
    width: 121px;
    height: 113px;
}
.grid-icon-3 {
    background-image: url(../img/icon-3.png);
    width: 132px;
    height: 94px;
}
.grid-icon-4 {
    background-image: url(../img/icon-4.png);
    width: 132px;
    height: 102px;
}
.grid-icon-5 {
    background-image: url(../img/icon-5.png);
    width: 146px;
    height: 104px;
}
.grid-icon-6 {
    background-image: url(../img/icon-6.png);
    width: 146px;
    height: 118px;
}
.list-stat{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
    flex-wrap: wrap;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color:#1085e4;
    text-align: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen {
    margin-top: 36px ;
    margin-bottom: -7px;
    width: 100%;
    max-width: 1299px;
}
.box-price-item {
    background-color:#f5faff;
    position: relative;
    padding: 30px 0 95px 0;
    flex-basis: 32%;

}
.box-price-item.active{
    background-color:#192b59;
    color: #fff;
    position: relative;
    padding: 30px 0 95px 0;
    flex-basis: 32%;
    
}
.box-price-item.active h3{
    color: #edf6ff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -0.03em;
    }
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
    font-weight: 400; 
}
.box-price-item ul >li {
    margin-bottom: 14px;
}
.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    flex-wrap: wrap;
    }
.box-price .bth-primary{
    padding: 20px 60px;

    }
.box-price-item p {
    text-transform: uppercase;
    font-size: 14px;
    color:#0084ff;
    letter-spacing: 3px;
    margin: 30px 0 0px 0px;
    font-weight: 700;
}
.box-price-item h3{
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 40px;;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000958;
}
.box-price-item:first-child h3{
    margin-bottom: 35px;
}

.box-price-item h3 span {
    font-size: 20px;
    font-weight: 700;
}
.mo{
    color: #4c5f6f;
}
.Starter-f{
color: #fff;
}
/*Доделать надо со скрина */
.box-price-item::after{
    content: "";
    top: -50px;
    right: -221px;
    position: absolute;
    width: 504px;
    height: 717px;
    background-image: url(../img/Кусочек.png);
    
}
.box-price-item.active::after{
    display: none;
}

.screen-img{
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 743px ;
    position: absolute;
    right: 0;
    top: 190px;

}
.list-company{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 106px 0 99px;
    flex-wrap: wrap;
}
.company-1{
    flex-basis: 214px;
}
.company-2{
    flex-basis:233px;
}
.company-3{
    flex-basis: 233px;
}
.company-4{
    flex-basis: 255px;
}

.company-1 span{
    background-image: url(../img/bg_1.png);
    width: 214px;
    height: 72px;
    background-repeat: no-repeat;
    }

.company-2 span{
    background-image: url(../img/bg_2.png);
    width: 233px;
    height: 87px;
    background-repeat: no-repeat;
}
.company-3 span{
    background-image: url(../img/bg_3.png);
    width: 233px;
    height: 79px;
    background-repeat: no-repeat;
    }
.company-4 span{
    background-image: url(../img/bg_4.png);
    width: 255px;
    height: 95px;
    background-repeat: no-repeat;
    }
.list-company-item span{
    display: block;
}

.box-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box-subscribe-text{
    font-size: 18px;
    max-width: 437px;
}
.box-subscribe-user{
    position: relative;
}
.box-subscribe-user input{
    border: 2px solid #3d51a9;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}
.box-subscribe-user input:focus, .box-subscribe-user .bth-primary{
    outline: none;
}
.box-subscribe-child{
    flex-basis: 49%;
}
.box-subscribe-user .bth-primary{
    position: absolute;
    top: 7px;
    right: 8px;
    padding: 20px 50px;
    letter-spacing: 1.5px;
}


    .box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
    .box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
    .box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
    .box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}



/* page */
.page-header{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company{
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 15px;
    padding-left: 15px;
}
.page-stat, .page-screen {
    background-color: #edf6ff;
    }
.page-stat {
    padding: 116px 0 96px 0;
    position: relative;
}
.page-plan, .page-screen {
    text-align: center;
}
.page-plan{
    padding: 81px 0 3px 0;
}
.page-screen {
    padding: 116px 0 0 0;
    }
.page-subscribe{
    color: #fff;
    padding: 25px 0 28px 0;
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    }
.page-subscribe .title-h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;

}
.page-softwere{
    padding: 109px 0 156px 0;
    position: relative;
    overflow: hidden;
}    

.page-softwere .title-h2 , .page-analytics .title-h2 {
    max-width: 766px;
    margin-top: 12px;
    margin-bottom: 26px;

}
.settings-icon{
    background-image: url(../img/icon-soft.png);
    display: block;
    width: 151px;
    height: 123px;
    background-repeat: no-repeat;
    background-position: -28px 0;
}
.page-softwere-list dt{
    font-weight: 700;
    color:#5a6789 ; 
    margin-bottom: 10px;
}
.page-softwere-list{
    margin-top: 31px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}
.page-softwere-list dd{
    margin-left: 0;
    margin-bottom:50px ;
    font-size: 14px;
    line-height: 1.8;
}
.page-softwere-flex{
    display: flex;
    justify-content: flex-end;
   
}
.page-softwere-flex>div{
    flex-basis: 55%;
}
.soft-screen{
    background-image: url(../img/soft.png);
    width: 47%;
    height: 117%;
    display: block;
    width: 48%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0%;
    top: 11px;
    z-index: -1;
    left: -2%;
  
}

.page-softwere-list::-webkit-scrollbar {width: 4px; height: 4px;}
.page-softwere-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-softwere-list::-webkit-scrollbar-track {  background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}

.page-app{
    padding: 69px 0 82px 0;
}
.page-app-text{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 26px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.page-app-list{
    padding: 0;
    list-style-type: none;

}
.page-app-list>li{
    display: inline-block;
}
.page-app-list>li>a{
    background-image: url(../img/app.png);
    display: block;
    width: 177px;
    height: 69px;
    background-repeat: no-repeat;
}
.page-app-list>li>a.page-app-android {
background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
    background-position: -190px 0;
    }
.content-app{
    width: 55%;
}
.content-app .title-h2{
    margin-bottom: 36px;
}
a.video-app{
    position: absolute;
    top: -54px;
    right: -182px;
}

.page-app .wrap{
    position: relative;
}
.page-analytics{
    background-image: url(../img/bg-analitics.png);
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 79px 0 106px 0;

}
.flex-analitics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.page-analytics-text{
    margin-bottom: 54px;
}
.flex-analitics>div{
    flex-basis: 54%;
}
.flex-analitics .title-h2 {
    margin-top: 0px;
}

.flex-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-control>div{
    flex-basis: 54%;
    padding-left: 32px;
}
.page-control{
    display: flex;
    background-image: url(../img/bg-control.png);
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 79px 0 106px 0;
    flex-wrap: wrap;
}

.page-control-text{
    margin-bottom: 54px;
}
.page-control-img{
    margin-right: -70px;
}
.flex-control .title-h2 {
    margin-top: 0px;
}
.page-clients .title-40 span, .page-team .title-40 span{
    color:#85c8ff ;
}
.page-clients .title-40 , .page-team .title-40{
    color:#fff;
}

.box-clients{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}
.page-clients{
    position: relative;
    margin-top: 120px;
    padding: 43px 0 0 0 ;
} 
.box-clients::before{
    content: '';
    display: block;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.box-clients-item{
    background-color: #fff;
    padding: 21px 42px;
    border-radius: 10px;
    flex-basis: 31.5%;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 9px 20px #f4f5f5; 
}
.box-clients-item .name{
    font-size: 20px;
    color:#000958;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: -0.6px;
    line-height: 1.1;
}
.box-clients-item .position{
    color:#1085e4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}
.box-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-info>div{
    padding-left: 17px;
}
.box-clients-item>p{
    margin-bottom: 4px;
}

.page-team{
    text-align: center;
    background-image: url(../img/bg-team.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 168px 0 121px 0;
}
.box-team{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.box-team-item{
    background-color: #fff;
    flex-basis: 31.5%;
    box-shadow: 0 5px 6px #f4f5f5; 
    position: relative;
    padding: 193px 31px 42px 31px;
    box-sizing: border-box;
    

}
.box-team-item .position{
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1a88e1;
    margin-bottom: 0;
    letter-spacing: 2.1px;
}
.box-team-item .name{
    color:#192b59;
    font-size: 26px;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.9px;
}
.box-team .avatar{
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.box-team-item .bth-team span{
    background-image: url(../img/bth-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    align-self: center;
}
.box-team-item .bth-more span {
    background-position: -4px -3px;
    width: 16px;
    height: 16px;
}
.box-team-item .bth-more:hover span{
    background-position: -4px -37px;
}

.box-team-item .bth-more:focus{
    outline: none;
}

.box-team-item .bth-team:hover{
    background-color: #1a88e1;
    background-position: -9px -53px;
}
.box-team-item .bth-team {
    background-color:#f3f3f3 ;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    transition: 0.3s;
    padding: 0;
    
}
.social-team{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    align-self: center;
    padding: 0;
}

/*кнопки соцсетей*/

.box-team-item .bth-fb span {
    background-position: -38px 10px;
    width: 14px;
    height: 39px;
}
.box-team-item .bth-fb:hover span {
    background-position: -38px -25px;
}

.box-team-item .bth-tw span {
    background-position: -68px 9px;
    width: 14px;
    height: 39px;
}
.box-team-item .bth-tw:hover span {
    background-position: -68px -23px;
}

.box-team-item .bth-be span {
    background-position: -100px 4px;
    width: 16px;
    height: 31px;
}
.box-team-item .bth-be:hover span {
    background-position: -100px -29px;
}

.box-team-item .bth-web span {
    background-position: -132px 5px;
    width: 16px;
    height: 31px;
}
.box-team-item .bth-web:hover span {
    background-position: -131px -29px;
}
.circle{
    background-image: url(../img/circ.svg);
    display: block;
    position: absolute;
    left: 0;
    bottom: -363px;
    width: 413px;
    height: 758px;
    background-repeat: no-repeat;
    background-size: contain;
}
.romb{
    background-image: url(../img/romb.svg);
    display: block;
    position: absolute;
    right: 0;
    top: -198px;
    width: 569px;
    height: 661px;
    background-repeat: no-repeat;
    background-size: contain;
}
.intro {
    color: rgba(0, 0, 0, 0.04);
    font-size: 261px;
    font-weight: 800;
    line-height: 0;
    position: absolute;
    left: 0;
    right: -199px;
    text-align: center;
    top: 40px;
    margin: 0;
}
.page-form{
    background-image: url(../img/bg-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 121px 0;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 51px;
}
.contact-form input, .contact-form textarea{
    font-size: 14px;
    border: 2px solid #dde5ed; 
    padding: 26px 80px 26px 37px;
    border-radius: 35px;
    width: 100%;
    box-sizing: border-box;

}

.contact-form input::-webkit-input-placeholder,.contact-form textarea::-webkit-input-placeholder {color:#8995b3;} 
.contact-form input::-moz-placeholder,.contact-form textarea::-moz-placeholder          {color:#8995b3;}
.contact-form input:-moz-placeholder,.contact-form textarea:-moz-placeholder           {color:#8995b3;}
.contact-form input:-ms-input-placeholder,.contact-form textarea:-ms-input-placeholder      {color:#8995b3;}

.flex-form{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1090px;
    align-items: center;
}
.contact-form-item {
    margin-bottom: 19px;
    position: relative;
}
.contact-form-item::after{
    content: '';
    display: block;
    position: absolute;
    right: 42px;
    background-repeat: no-repeat;
}
.contact-form-name::after{
    background-image: url(../img/icon-name.svg);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.contact-form-email::after{
    background-image: url(../img/icon-email.svg);
    width: 14px;
    height: 11px;
    top: calc(50% - 7px);
}
.contact-form-text::after{
    background-image: url(../img/icon-text.svg);
    width: 14px;
    height: 15px;
    top: 29px;
}
.contact-form textarea{
    min-height: 161px;
    resize: none;

}
.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    }
.contact-form .bth-primary{
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 232px;
    letter-spacing: 2.1px;
    margin-bottom: 32px;
}
.contact-form .bth-primary::before{
    content: '';
    background-image: url(../img/icon-bth.png);
    position: absolute;
    left: 54px;
    top: calc(50% - 6px);
    display: block;
    width: 13px;
    height: 13px;
}
.contact-form-text{
    margin-bottom: 34px;
}
.flex-form>div{
    flex-basis: 47%;
}
.flex-form img{
    margin-right: 60px;
}

.footer{
    background-color: #192b59;
    padding: 9px 15px 22px;
}
.flex-footer{
    display: flex;
    justify-content: space-between;
}
.footer-p{
    font-weight: 400;
    color: #b6bae0;
    margin-top: 12px;
}
.footer-a{
    color:#17437e;
    text-transform: uppercase;
}
.social{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
} 

.social-icon{
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.social-fb{
    background-image: url(../img/fb.png);
    width: 12px;
    height: 19px;
    right: 81px;
    
}
.social-fb:hover{
    background-image: url(../img/fb-1.png);
}
.social-tw{
    background-image: url(../img/tw.png);
    width: 19px;
    height: 15px;
    right: 62px;
    top: 2px;
}
.social-tw:hover{
    background-image: url(../img/tw-1.png);
}
.social-be{
    background-image: url(../img/be.png);
    width: 24px;
    height: 16px;
    right: 42px;
}
.social-be:hover{
    background-image: url(../img/be-1.png);
}
.social-pi{
    background-image: url(../img/pi.png);
    width: 22px;
    height: 19px;
    right: 23px;
    top: -1px;
}
.social-pi:hover{
    background-image: url(../img/pi-1.png);
}
.social-f{
    background-image: url(../img/ff.png);
    width: 16px;
    height: 21px;
    right: 4px;
}
.social-f:hover{
    background-image: url(../img/f-1.png);
}

/* Media*/
@media (max-width:1500px){
    .screen-img{
        background-size: cover;
        width: 50%;
        height: 579px ;
        top: 258px;
    }
    .video-app{
        top: -23px;
        right: 0;
    }
    .video-app img{
        width: 482px;
    }
}
@media (max-width:1300px){
    .soft-screen{
        display: none;
    }
    .page-softwere-flex>div{
        flex-basis: 100%;
        
    }
    .page-softwere{
        padding: 60px 0 60px 0;
    }
    .page-softwere-list{
        max-width: 900px;
        margin-right: 20px;
        margin-left: 40px;
    }
    .flex-form img {
        width: 50%;
    }
}
@media (max-width:1100px){
    .nav, .screen-img{
        display: none;
    }
    .bth-menu{
        display: block;
    }
    .h1{
        margin-bottom: 65px;
        text-align: center;
        margin: 0 auto 45px;
    }
    .bth-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }
    .box-header{
        margin-bottom: 100px;
    }
    .page-header{
        padding: 53px 0  150px 0;
    }
    .bth-primary{
        margin-bottom: 15px;
        position: relative;
        top: -27px;
    }
    .content-app{
        width: 100%;
        text-align: center;
    }
    .video-app img{
        display: none;
    }
    .flex-analitics>div {
        flex-basis: 100%;
        text-align: center;
        margin: 26px;
    }
    .flex-analitics .title-h2{
        margin: 0 auto;
        font-size: 40px;

    }
    .page-analytics{
        background-image: none;
        margin: 20px 0 20px;
    }
    .page-analytics-screen{
        display: none;
    }
    .page-control-img{
        display: none;
    }
    .flex-control>div{
        flex-basis: 100%;
        text-align: center;
        margin: 20px 0 20px;
    }
    .flex-control .title-h2{
        font-size: 40px;
    }
    .soft-screen {
        display: none;
    }
    .page-softwere-flex>div {
        display: none;
    }
}


@media (max-width:1050px){
    .list-company-item{
        flex-basis: 50%;
        margin-bottom: 50px;
    }
    .list-company-item span{
        margin: 0 auto;
    }
    .page-company{
        padding: 50px 0 20px;
    }
    .grid{
        
        grid-template-areas: "a a" "b c" "d e" "f g" "h h";
        grid-template-columns: 1fr 1fr;     
    }
    .grid h2 {
        text-align: center;
    }
    .grid h2 span{
        margin-bottom: 10px;
    }
    .box-subscribe-child{
        flex-basis: 100%;
        text-align: center;
    }
    .box-subscribe img{
        margin: 0 auto;
        max-width: 170px;
    }
    .box-subscribe-text{
        margin: 0 auto 30px;
    }
    .page-subscribe{
        padding: 0 28px 0;
    }
    .box-subscribe{
        flex-direction: column-reverse;
        max-width: 170px;
        margin: 0 auto 50px;
    }
}
@media (max-width: 1020px){
.page-team{
background-image: none;
}
.page-team .title-40 {
    color:#192b59;
}
.box-team-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    background-color: #edf6ff;
    max-width: 500px;
    margin-bottom: 120px;
}

.page-form .title-h2{
    text-align: center;

}
.flex-form img{
    display: none;
}
.flex-form {
    justify-content: center;
}
}
@media (max-width: 930px){
    .box-team {
        flex-flow: column;}
.box-team-item:last-child {
    margin-bottom: 0;}
}
@media (max-width: 900px){
    .page-clients {
        margin-top: 50px;
        padding: 1px 0 0 0;
    }
    .page-clients .title-40 {
        text-align: center;
        font-size: 35px;
    }
    .page-clients .title-40 span{
        font-size: 14px;
    }
    .box-clients{
        flex-flow: column;
    }
    .box-clients-item{
        margin-bottom: 60px;
    }
    .box-clients::before{
        background-repeat: repeat;
    }
}



@media (max-width: 700px){
    .list-stat>li{
        flex-basis: 34%;
    }
    .box-price{
        flex-flow: column;
    }
}
@media (max-width: 600px){
    .h1{
        font-size: 40px;
        margin: 0 auto 30px;
    }
    .grid-item {
        justify-items: center;
    }
   
}
@media (max-width: 570px){
    .social {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 77px 49px -10px -187px;
    }
    .contact-form input, .contact-form textarea {
        font-size: 8px;
        border: 2px solid #dde5ed;
        padding: 14px 62px 17px 19px;
    }
    .contact-form-email::after, .contact-form-item::after, .contact-form-name::after {
        margin-right: -21px;
    }
    .contact-form .bth-primary {
        padding: 10px 60px 7px 65px;
        margin: 0 auto;
    }
    .contact-form .bth-primary::before{
        display: none;
    }
    
    .box-subscribe img {
        margin: 0 auto;
        max-width: 170px;
    }
    .page-subscribe {
        padding: 0px 0px 0px 0px;
    }
    .box-subscribe {
        flex-direction: column-reverse;
        max-width: 320px;
        margin: 0 auto 50px;
    }
    .box-subscribe-user .bth-primary {
        top: 80px;
        right: 70px;
    }
    .box-subscribe-user input { 
    padding: 26px 91px 21px 44px;
    font-size: 12px;    
    }
    .box-subscribe-child {
    margin-bottom: 92px;
    }
    .list-stat>li>span {
        margin: 37px 25px 17px 0px;
    }
    .page-stat .title-h2 {
        margin-bottom:-45px ;
        font-size: 40px;
    }
    .grid h2 {
        text-align: center;
        font-size: 35px;
    }
    
    .grid-title .title-40{
        flex-basis: 100%;
        
    }
    .grid{
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
        grid-template-columns: 100%;
    }
}
@media (max-width: 430px){
   .footer p {
    text-align: center;
} 
}

@media (max-width:400px){
   
    .logo{
        margin: 0 -32px 1px;
        background-repeat: no-repeat;
}
        h1{
        font-size: 40px;
    }
    .list-company-item span {
    margin: -12px 27px;
}
    .list-company{
        padding: 30px 0 30px;
    }
   
    .page-softwere .title-h2 {
        font-size: 40px;
    }
    .page-softwere{
        padding: 30px 0 30px 0;
    }
    
    .content-app .title-h2 {
        font-size: 32px;
    }
    p{
       font-size: 14px; 
       background-position: center;
    }
    .flex-control {
        margin: -100px auto;
    }
    .flex-analitics {
        margin: -166px auto;
    }
    .settings-icon {
        background-image: url(../img/icon-soft-copy.png);
        display: block;
        width: 130px;
        height: 106px;
        background-repeat: no-repeat;
        background-position: -35px 15px;
    }
    .page-control {
        padding: 160px 0px 99px 0px;
    }
    .page-control>div{
        flex-basis: 100%;
        text-align: center;
    }
    .flex-control>div {
        flex-basis: 100%;
        text-align: center;
        margin: 0px -16px 24px -30px;
    }
   

.page-screen .title-40{
    font-size: 35px;
}
.page-screen .title-40 span{
    font-size: 14px;
}

.page-plan {
    padding: 31px 0 10px 0;
}
.page-plan .title-40{
    font-size: 35px;
}
.page-team {
    padding: 101px 0 0px 0;
}
.page-team {
    padding: 50px 15px 10px;
}

.flex-form img {
    display: none;
}
.page-form .title-h2{
    font-size: 35px;
    text-align: center;
}

}